@{
    ViewData["Title"] = "Home Page";
}

 @*asp-prerender-module="ClientApp/dist/boot-server"*@
<div id="my-spa">Loading...</div>

<script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
<script src="~/dist/main.js" asp-append-version="true"></script>