@{
    ViewData["Title"] = "Home Page";
}

<div id="my-spa" asp-prerender-module="ClientApp/dist/boot-server">Loading...</div>

<script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
<script src="~/dist/main.js" asp-append-version="true"></script>