<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/dist/vendor.bundle.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
